/* Variables */

$color-one: gold;
$color-two: white;
$font-brand: 'Lobster', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-text: 'Lora', serif;
$transition: all 0.2s;
$transition2: all 0.3s;

/* Global */

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/* Header */

header {
    background-image: url(https://i.postimg.cc/fbnRFqbv/pexels-aleks-magnusson-3892369.jpg);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
}

/* Navigation */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 40px;
}

.navigation a {
    text-decoration: none;
    font-family: $font-title;
    font-weight: 300;
    color: $color-two;
}

.navigation .brand-logo {
    font-family: $font-brand;
    font-size: 40px;
    color: $color-one;
}

.nav-options ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-options ul li {
    margin-right: 36px;
}

.nav-options ul li a {
    transition: $transition;
}

.nav-options ul li a:hover {
    color: $color-one;
    transition: $transition;
}

/* Hamburger menu */

.hamburgerNav {
    position: relative;
}

.hamburgerNav .brand-logo {
    display: none;
    position: absolute;
    margin-top: 18px;
    right: 5%;
    font-size: 72px;
    font-family: $font-brand;
    color: $color-one;
    text-decoration: none;
}

#menuToggle
{
  display: none;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: $color-two;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: $color-one;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: $color-one;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $color-one;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: rgba(100, 20, 20, 0.9);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

#menu ul {
    display: none;
}

#menu li:hover ul {
    display: block;
}

#menu li ul {
    list-style: none;
}


/* Splash */

.splash {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    margin-top: 110px;
}

.splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: $color-two;
}

.page-title {
    font-size: 48px;
    margin-top: 0;
    font-weight: 200;
    margin-bottom: 0;
}

.page-subtitle {
    font-family: $font-title;
    font-size: 96px;
    margin-top: 0;
}

.splash button {
    font-family: $font-title;
    padding: 20px 40px;
    color: $color-two;
    background: #f3dc09;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: $transition2;
}

.splash button:hover {
    background: rgb(211, 179, 0);
    transition: $transition2;
}

.splash button:active {
    background: rgb(150, 127, 0);
    transition: $transition2;
}

/* Services */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.services h2 {
    font-size: 56px;
    font-family: $font-title;
    margin-bottom: 0;
}

.services h4 {
    font-size: 18px;
    font-family: $font-text;
    margin-top: 0;
    color: grey;
}

.services .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    margin-top: 50px;
}

.services .box .icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #f3dc09;
    border: 3.5px solid #f3dc09;
    border-radius: 90%;
    padding: 15px;
    font-size: 28px;
}

.services .box h3 {
    font-size: 24px;
    font-family: $font-title;
    margin-bottom: 15px;
    margin-top: 18px;
}

.services .box p {
    font-size: 15px;
    font-family: $font-text;
    color: grey;
    margin-top: 0;
}

/* PORTFOLIO */

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #faf8ee;
    width: 100%;
}

.portfolio h2 {
    font-size: 56px;
    font-family: $font-title;
    margin-bottom: 0;
}

.portfolio h4 {
    font-size: 18px;
    font-family: $font-text;
    margin-top: 0;
    margin-bottom: 96px;
    color: grey;
}

.portfolio .card {
    text-align: center;
    background: $color-two;
}

.portfolio .card-body h3 {
    font-family: $font-title;
    padding-top: 15px;
    margin: 0;
}

.portfolio .card-body p {
    font-size: 18px;
    color: grey;
    padding-bottom: 15px;
    margin-top: 3px;
    margin-bottom: 0;
}

.portfolio .card-image {
    overflow: hidden;
}

.portfolio .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: $transition2;
}

.portfolio .card-image img:hover {
    transform: scale(1.1);
    transition: $transition2;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: $color-two;
    width: 100%;
}

footer p {
    width: 20%;
    margin-left: 20%;
    font-family: $font-text;
    font-size: 15px;
}

footer span {
    font-size: 0;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

footer ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    margin: 28px 10px;
    background: black;
    text-align: center;
    transition: $transition2;
}

footer ul li:hover {
    transform: scale(1.2);
    transition: $transition2;
}

footer ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
  
footer ul li i {
    color: $color-two;
}

/* Media */

@media (max-width: 768px) {    
    .navigation {
        display: none;  
    }

    #menuToggle {
        display: block;
        position: fixed;
    }

    .hamburgerNav .brand-logo {
        display: block;
    }
    
    .splash-inner {
        max-width: 80%;
    }
    
    .page-title {
        margin-top: 160px;   
        font-size: 40px;
        text-shadow: 2px 2px black;
        text-align: center;
    }
    
    .page-subtitle {
        font-size: 55px;
        text-align: center;
    }

    .services {
        text-align: center;
        padding: 0;
    }

    .services .box {
        width: 80%;
    }
    
    .services .box h3 {
        font-size: 32px;
    }
    
    .services .box p {
        font-size: 20px;
    }

    .portfolio {
        text-align: center;
        padding: auto;
    }

    .portfolio .card {
        width: 100%;
    }

    .portfolio .card-body h3 {
        font-size: 28px;
    }

    .portfolio .card-body p {
        font-size: 22px;
    } 
    
    footer {
        display: flex;
        flex-direction: column;
    }

    footer p {
        width: 50%;
        font-size: 20px;
        margin: 20px 0 0 0;
    }

    footer ul {
        padding: 0;
    }
    
    footer ul li {
        font-size: 24px;
        border-radius: 90%;
        width: 40px;
        height: 40px;
        margin: 28px 10px;
        text-align: center;
        transition: $transition2;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .navigation .brand-logo {
        font-size: 56px;
    }

    .navigation .nav-options {
        font-size: 24px;
    }

    .page-subtitle {
        font-size: 80px;
    }

    .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}



