/* Variables */

$color-one: #F3DE2C;
$color-two: #7CB518;
$color-three: #FB6107;
$color-three-transparent: rgba(251, 97, 7, 0.5);
$color-text: #5C8001;
$color-background:  #FCF6C5;
$font-brand: 'Lobster', sans-serif;
$font-title: 'Oswald', sans-serif;
$font-text: 'Lora', serif;
$transition: all 0.7s;
$transition2: all 0.3s;

/* Navigation */

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}

.navigation a {
    text-decoration: none;
    font-family: $font-title;
    font-weight: 300;
}

.navigation .brand-logo {
    font-family: $font-brand;
    font-size: 32px;
    color: gold;
}

.nav-options ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-options ul li {
    margin-right: 36px;
}

